body {
    /*background-color: #0b1b3d;*/
    background-image: url('../img/background2.png');
    background-repeat: repeat;
}

a {
    color: #FF3399;
    text-decoration: none;
}

a:hover
{
    color: #FF3399;
    text-decoration: none;
}

div.member_signin {
    text-align: center;
}

div.member_signin  i.fa.fa-user,  div.member_signin  i.fa.fa-rebel, div.member_signin  i.fa.fa-dot-circle-o{
    color: #FFF;
    background-color: #33D6FF;
    border-radius: 500px;
    font-size: 36px;
    padding: 15px 20px 15px 20px;
}

div.fa_user,  div.fa_rebel, div.fa-dot-circle-o{
    margin-top: -47px;
    margin-bottom: 15px;
}

p.member {
    font-size: 19px;
    color: #888888;
    margin-bottom: 20px;
}

button.login {
    width: 100%;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    background-color: #33D6FF;
    border-style: none;
}

button.login:hover {
    background-color: #FF3399
}

form.loginform div.input-group {
    width: 100%;
}

form.loginform input[type="email"], form.loginform input[type="password"] {
    color: #6C6C6C;
    text-align: center;
}

p.forgotpass {
    margin-top: 10px;
}

#login-container
{
    margin: 0 auto;
    width: 400px;
}

#login-container > p
{
    text-align: center;
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer > .container
{
    padding-right: 15px;
    padding-left: 15px;
}

.container .text-muted {
    margin: 20px 0;
    color: white;
    text-align: center;
}
