body {
    /*background-color: #0b1b3d;*/
    background-image: url('../img/background2.png');
    background-repeat: repeat;
    text-transform: uppercase;
}

.alert.alert-danger
{
    /*background-color: #FF3399;*/
    text-align: center;
    text-transform: uppercase;
}

a {
    color: #FF3399;
    text-decoration: none;
}

a:link
{
        color:  #FF3399;
    text-decoration: none;
}

a:hover
{
    color: #FF3399;
    text-decoration: none;
}

a:visited
{
    color:  #FF3399;
    text-decoration: none;
}

a:active
{
    color:  #FF3399;
    text-decoration: none;   
}

.navbar
{
    background-color: white;
    width: 100%;
    border-radius: 0px;


}

div.member_signin, div.member_register {
    text-align: center;
}

div.member_signin  i.fa.fa-dot-circle-o, div.member_register  i.fa.fa-dot-circle-o{
    color: #FFF;
    background-color: #33D6FF;
    border-radius: 500px;
    font-size: 36px;
    padding: 15px 20px 15px 20px;
}

div.fa_user {
    margin-top: -47px;
    margin-bottom: 15px;
}

p.member {
    font-size: 19px;
    color: #888888;
    margin-bottom: 20px;
}

button.login, button.register {
    width: 100%;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    background-color: #33D6FF;
    border-style: none;
}

button.login:hover, button.register:hover {
    background-color: #FF3399
}

form.loginform div.input-group, form.registrationform div.input-group {
    width: 100%;
}

form.loginform input[type="email"], form.loginform input[type="password"], form.registrationform input[type="email"], form.registrationform input[type="password"], form.registrationform input[type="text"] {
    color: #6C6C6C;
    text-align: center;
}

p.forgotpass {
    margin-top: 10px;
}

#login-container
{
    margin: 0 auto;
    width: 400px;
    margin-bottom: 150px;
}

#registration-container
{
    margin: 0 auto;
    width: 400px;
    
/*    border-style: solid;
    border-width: 3px;
    border-color: red;*/

    margin-bottom: 150px;
}

#login-container > p, #registration-container > p
{
    text-align: center;
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer > .container
{
    padding-right: 15px;
    padding-left: 15px;
}

.container .text-muted {
    margin: 20px 0;
    color: white;
    text-align: center;
}

.project-button-bar
{
    color: white;
    -webkit-transition: all 0.5s ease;
    background-color: #33D6FF;
    border-style: solid;
    border-color: white;
}

.project-button-bar > p
{
    color: white;
    padding: 0;
    margin: 0;
}

.project-button-bar:hover
{
    background-color: #FF3399
}

.project-delete-button
{
    width: 10%;
    margin-top: 15px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    background-color: #FF3399;
    border-style: none;
    color: white;
}

.project-delete-button:hover {
    background-color: #000000;
    color: white;
}

.save-button, .add-permission-button
{
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    background-color: #33D6FF;
    border-style: none;
    color: white;
}

.add-permission-button
{
    width: 338px;
}

.save-button:hover, .add-permission-button:hover
{
    background-color: #FF3399;
    color: white;
}

.wide-input
{
    width: 338px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    height: 34px;
    padding: 15px;
    border:1px solid rgba(23, 23, 23, 0.12);
}











