html {
    height:100%;
    position:relative;
    margin:0;
    padding:0;
}

a:focus,
button:focus,
input[type="submit"]:focus {
    outline: none !important;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #8590a1;
    font-family: "proxima-nova",sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    text-rendering: geometricprecision;

    /*background: #ccc url(../img/s.png) repeat-y 50% 0;*/
}
.login-body {
    background-color: #292f42 !important;
    color: #333;
    font-size: 14px;
    line-height: 1.42857;
}
html,body{
    position: relative;
    height: 100%;
}

.welcome {
    font-size: 24px;
    font-weight: 500;
}

h1 {
    color: #c3cad1;
    font-size: 27px;
    padding: 10px;
}

.login-container{
    position: relative;
    width: 440px;
    margin: 80px auto;
    padding: 20px 40px 0px;
    text-align: center;
    background: #fff;

    border-radius:3px;
}

/*#output{*/
/*position: absolute;*/
/*width: 300px;*/
/*top: -75px;*/
/*left: 0;*/
/*color: #fff;*/
/*}*/

/*#output.alert-success{*/
/*background: rgb(25, 204, 25);*/
/*}*/

/*#output.alert-danger{*/
/*background: rgb(228, 105, 105);*/
/*}*/



.avatar{

    margin: 50px auto 30px;
}

.form-box input{
    width: 100%;
    padding: 15px;
    height:40px;
    border:1px solid rgba(23, 23, 23, 0.12);
    background: #fff;
    transition:0.2s ease-in-out;
    width:360px;
    height:60px;
    font-size: 16px;




}


.form-box input:focus{
    outline: 0;
    background: #f9f9f9;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
    border: 1px solid rgba(23, 23, 23, 0.12);
    border-bottom: none;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(23, 23, 23, 0.12);
}

.form-box button.login{
    border: 0 none;
    border-radius: 0 0 3px 3px;
    height: 76px;
    margin-top: 15px;
    padding: 10px 20px;
    position: relative;
    right: 40px;
    top: 57px;
    width: 440px;
    font-size: 18px;
}
.p-center {
    color: #fff;
}
.btn-login {
    background: #8a8acb;
    border: 0;
    font-size:18px;
    color:#fff;
    font-weight: 600;
    margin-bottom: 15px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.remember{
    padding: 15px 0px 15px 0px;
    float:left;
}
.rememberp {
    float: left;
    margin-top: 8px;
    margin-right:15px;
    font-size:13px;
    color:#8590a1;
}
.btn-submit{
    background: #267fcc;
    font-size: 18px;
}
.btn-login:hover, .btn-login:focus, .btn-login:active {
    background: #7f7fb7;
    border: 0 none;
    color: #f9f9f9;
}
.reset {
    font-size:13px;
    margin-bottom:16px;
    color:#8590a1;
}
.forgot {
    /*margin: 18px;*/
    position: relative;
    top: 18px;
}