div.projectpanel {
	height: 80%;
	background-color: #FFFFFF;
	background-image: url("../img/WaterTower_NoSensors.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 50%;
}

div.container {
	margin-top: 3.5%;
}


.projectpanel .left-side {
	padding-left: 0;
}

.projectpanel .right-side {
	background-color: #e7e7e7;
	border: 1px solid;
	padding-right: 0;
	border-bottom-left-radius: 4px;
	box-shadow: 3px 3px 2px #5c5c5c;
}

.centerproj {
	/* background-image: url("https://placekitten.com/1200/800"); */.
}

#left-accordion {
	background-color: #e7e7e7;
	text-align: left;
	border: 1px solid;
	border-bottom-right-radius: 4px;
	box-shadow: 3px 3px 2px #5c5c5c;
}

#left-accordion .panel-heading {
	cursor: pointer;
}

.right-side .nav-tabs {
	font-size: 12px;
	font-weight: bold;
}

.module {
	background-color:black;
	height: 50px;
	border-radius: 4px;
}

#right-content {
	padding: 5px;
}

#right-content span {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	margin-top:5px;
	color: #000000;
}

#right-content .label-group {
	margin-top: 10px;
	padding-left: 5px;
}

#right-content .label-group a {
	display: inline-block;
	vertical-align: middle;
	margin-top:3px;
}

#messagebox {
	background: #007dc6;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	color: #FFFFFF;
	font-weight: bold;
}