div.projectpanel {
	height: 80%;
	background-color: #FFFFFF;
	background-image: url("../img/WaterTower_NoSensors.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 50%;
}

div.container {
	margin-top: 3.5%;
}

div.projectpanel {
}

.projectpanel .row {
	margin-left: 0;
	margin-right: 0;
}

.projectpanel .left-side {
	background-color: blue;
	border: 1px solid;
}

.projectpanel .right-side {
	background-color: yellow;
	border: 1px solid;
}

.centerproj {
	/* background-image: url("https://placekitten.com/1200/800"); */.
}